<div class="row chart-header">
  <div class="col-xs-1"></div>
  <div class="col-xs-3">
      <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
          Perk Count
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Number of Perks</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Funding Goal ($)</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Number of Team Members</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Number of Comments</a></li>
        </ul>
      </div>
    </div>
    <div class="col-xs-8">
      <span class="title">Perk Count v. Funding Percent</span>
    </div>
  </div>