<div class="col-sm-3">
  <div class="dropdown filter">
    <button class="btn btn-default dropdown-toggle" type="button" id="metric-x-dropdown" data-toggle="dropdown">
      <span class="dropdown-value">Perk Count</span>
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
      <li role="presentation">
        <a href="#" class="x-metric-toggle" data-metric-value="perk_count" data-metric-label="Number of Perks">Number of Perks</a>
      </li>
      <li role="presentation">
        <a href="#" class="x-metric-toggle" data-metric-value="funding_goal" data-metric-label="Funding Goal ($)">Funding Goal ($)</a>
      </li>
     <!--  <li role="presentation">
        <a href="#" class="x-metric-toggle" data-metric-value="team_member_count">Number of Team Members</a>
      </li> -->
    </ul>
  </div>
</div>
