<div class="col-sm-3">  
  <div class="dropdown filter">
    <button class="btn btn-default dropdown-toggle" type="button" id="metric-y-dropdown" data-toggle="dropdown">
      <span class="dropdown-value">Percent of Goal Raised</span>
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
      <li role="presentation">
         <a href="#" class="y-metric-toggle" data-metric-value="funding_percent" data-metric-label="Percent of Goal Raised">Percent of Goal Raised</a>
      </li>
      <li role="presentation">
        <a href="#" class="y-metric-toggle" data-metric-value="funding_total" data-metric-label="Total Funds Raised">Total Funds Raised</a>
      </li>
    </ul>
  </div>
</div>