<div class="container-fluid">
<div class="analyze-container">
  
  <div class="row analyze-form">
    <%= form_for(@campaign, remote: true) do |f| %>
    <%= f.text_field :url, placeholder: "Enter Campaign Url" %>
    <%= f.submit "Analyze", class: "button" %>
    <% end %>
  </div>
</div>
  <div class="container">  
    <div class="row chart-header">
      <div class="col-md-8">
      <h3>Campaign Analytics</h3>
      </div>
    </div>
    <%= render "chart_options" %>
    <div class="row">
    <svg class="chart"></svg>
    </div>
  </div>
</div>