body {
  background-color: #FAFAFA;
}

h1, h2, h3, h4, p, a {
  color: #A5A7AA;
}

header {
  height: 80px;
  background-color: #fff;
  color: #34495E;
  border-bottom: 1px solid #ECF0F1;
}

header > .content {
  width: 1200px;
  margin: 0 auto;
}

.content > span {
  height: 100%;
}

.container {
  background-color: #fff;
  max-width: 1000px;
  height: 650px;
  margin: 0 auto;
  margin-top: 25px;
  border: 1px solid #ECF0F1;
}

.analyze-container {
  background-color: #fff;
  max-width: 1000px;
  height: 130px;
  margin: 0 auto;
  margin-top: 50px;
  border: 1px solid #ECF0F1;
}

.logo {
  height: 80px;
}

.analyze-form {
  /*width: 90%;*/
  margin: 0 auto;
  /*border-bottom: 1px solid #ECF0F1 ;*/
  margin-top: 50px;
}

#new_campaign {
  max-width: 300px;
  margin: 0 auto;
  /*margin-bottom: 30px*/
}

#campaign_url {
  width: 70%;
}

input, .button {
  height: 30px;
}

input:focus {
  border-color: #eb1478;
}

.button {
  background-color: #eb1478;
  color: #fff;
  font-size: 15px;
  /*height: 36px;*/
  border: 0;
  width: 25%;
}

.btn {
  border-radius: 0;
}
.button:focus {
  border: none;
  outline: none;

}

.button:hover {
  background-color: #fa1681;
}

.axis {
  fill: none;
  stroke: #A5A7AA;
  shape-rendering: crispEdges;
}

.axis text {
  font: 10px sans-serif;
}

.chart {
  margin-top: 20px;
}

.point {
  fill: #0eb4b6;
}

.chart-header {
  width: 90%;
  margin: 0 auto;
  margin-top: 20px;
  border-bottom: 1px solid #ECF0F1 ;
}

.title {
  margin-left: 2px;
  font-size: 18px;
  color: #A5A7AA;
}

.chart-options {
  margin-top: 20px;
}

.filter .btn {
  width: 100%;
}

.error-msg {
  font-size: 1.1em;
  color: #E74C3C;
}
